_INFRA/Flujo_Backup_Monitor_Ultimate.json
{
  "name": "BACKUP MONITOR ULTIMATE: Verificacion Diaria (04:00 AM)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "cron-01",
      "name": "CronBackupCheck",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo '===DB_BACKUP==='; ls -lht /data/agencia/backups/db/ 2>/dev/null | head -5; echo ''; echo '===LATEST_DB==='; LATEST=$(ls -t /data/agencia/backups/db/pg_full_*.sql.gz 2>/dev/null | head -1); if [ -n \"$LATEST\" ]; then echo \"File: $LATEST\"; echo \"Size: $(stat -c%s \"$LATEST\" 2>/dev/null || echo 'unknown') bytes\"; echo \"Age: $(( ($(date +%s) - $(stat -c%Y \"$LATEST\" 2>/dev/null || echo 0)) / 3600 )) hours\"; else echo 'NO DB BACKUP FOUND'; fi; echo ''; echo '===WF_BACKUP==='; ls -lht /data/agencia/backups/workflows/ 2>/dev/null | head -5; echo ''; echo '===LATEST_WF==='; LATEST_WF=$(ls -t /data/agencia/backups/workflows/workflows_*.json.gz 2>/dev/null | head -1); if [ -n \"$LATEST_WF\" ]; then echo \"File: $LATEST_WF\"; echo \"Size: $(stat -c%s \"$LATEST_WF\" 2>/dev/null || echo 'unknown') bytes\"; echo \"Age: $(( ($(date +%s) - $(stat -c%Y \"$LATEST_WF\" 2>/dev/null || echo 0)) / 3600 )) hours\"; else echo 'NO WF BACKUP FOUND'; fi; echo ''; echo '===DISK_USAGE==='; du -sh /data/agencia/backups/ 2>/dev/null; echo ''; echo '===BACKUP_LOG==='; tail -10 /var/log/aurenix-backup.log 2>/dev/null || echo 'No log file'",
        "cwd": "/"
      },
      "id": "ssh-check-01",
      "name": "SSHCheckBackups",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [240, 0],
      "credentials": {
        "sshPrivateKey": { "id": "zwKkkBrd5NcbMFZ3", "name": "aurenix_it_agent SSH" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\nconst errors = [];\n\n// Check if SSH failed\nif (!output && stderr) {\n  errors.push('SSH connection failed: ' + stderr.substring(0, 200));\n  return [{ json: { status: 'ALERT', errors, dbAge: 999, dbSize: 0, raw: stderr.substring(0, 2000) } }];\n}\n\n// Check DB backup age\nconst ageMatch = output.match(/Age: (\\d+) hours/);\nconst dbAge = ageMatch ? parseInt(ageMatch[1]) : 999;\nif (dbAge > 26) errors.push(`DB backup tiene ${dbAge}h (max 26h)`);\n\n// Check DB backup size\nconst sizeMatch = output.match(/Size: (\\d+) bytes/);\nconst dbSize = sizeMatch ? parseInt(sizeMatch[1]) : 0;\nif (dbSize < 1024) errors.push(`DB backup muy pequeno: ${dbSize} bytes`);\n\n// Check if no backup found\nif (output.includes('NO DB BACKUP FOUND')) errors.push('No hay backup de DB');\nif (output.includes('NO WF BACKUP FOUND')) errors.push('No hay backup de workflows');\n\nconst status = errors.length > 0 ? 'ALERT' : 'OK';\n\nreturn [{ json: { status, errors, dbAge, dbSize, raw: output.substring(0, 2000) } }];"
      },
      "id": "analyze-01",
      "name": "AnalyzeBackupStatus",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 0],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "" },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ALERT",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-alert-01",
      "name": "IfAlert",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [720, 0]
    },
    {
      "parameters": {
        "chatId": "501092522",
        "text": "=\ud83d\udd34 *BACKUP MONITOR \u2014 ALERTA*\n\n{{ $json.errors.map((e, i) => `${i+1}. ${e}`).join('\\n') }}\n\n*DB Age:* {{ $json.dbAge }}h\n*DB Size:* {{ $json.dbSize }} bytes\n\nRevisa el cron: `crontab -l`\nLog: `tail -20 /var/log/aurenix-backup.log`",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "tel-alert-01",
      "name": "TelegramBackupAlert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, -80],
      "credentials": {
        "telegramApi": { "id": "j286Y4Q9S28CG36j", "name": "Telegram bot" }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "fileName": "=/data/agencia/backups/backup_monitor.jsonl",
        "fileContent": "={{ JSON.stringify({ timestamp: new Date().toISOString(), status: $json.status, dbAge: $json.dbAge, dbSize: $json.dbSize, errors: $json.errors }) }}\n"
      },
      "id": "log-01",
      "name": "LogCheckResult",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [960, 100]
    }
  ],
  "connections": {
    "CronBackupCheck": {
      "main": [[{ "node": "SSHCheckBackups", "type": "main", "index": 0 }]]
    },
    "SSHCheckBackups": {
      "main": [
        [{ "node": "AnalyzeBackupStatus", "type": "main", "index": 0 }],
        [{ "node": "AnalyzeBackupStatus", "type": "main", "index": 0 }]
      ]
    },
    "AnalyzeBackupStatus": {
      "main": [
        [{ "node": "IfAlert", "type": "main", "index": 0 }],
        [{ "node": "IfAlert", "type": "main", "index": 0 }]
      ]
    },
    "IfAlert": {
      "main": [
        [{ "node": "TelegramBackupAlert", "type": "main", "index": 0 }],
        [{ "node": "LogCheckResult", "type": "main", "index": 0 }]
      ]
    },
    "TelegramBackupAlert": {
      "main": [
        [{ "node": "LogCheckResult", "type": "main", "index": 0 }],
        [{ "node": "LogCheckResult", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  }
}