_INFRA/Flujo_S1_VPS_Guard_v2.json
{"updatedAt":"2026-03-07T09:31:43.453Z","createdAt":"2026-03-04T12:20:49.317Z","id":"O1EkQWMjHAY8hqzj","name":"S1: VPS Guard (Monitor & HITL)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"e1255be2-35b5-44a4-9cc6-f44bfba95e7a","name":"Schedule (30 min)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"command":"echo '---DOCKER---'; docker ps -a --format '{{.Names}}: {{.State}}'; echo ''; echo '---DISK---'; df -h /; echo ''; echo '---RAM---'; free -m","cwd":"/root","authentication":"privateKey"},"id":"461c4777-6a24-4d41-98be-be6346bbde27","name":"SSH (Get Health)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[224,0],"credentials":{"sshPrivateKey":{"id":"zwKkkBrd5NcbMFZ3","name":"SSH Key Root VPS (jose_root_ed25519)"}}},{"parameters":{"promptType":"define","text":"Analiza el siguiente output del servidor VPS de AURENIX y determina su estado de salud.\n\nOUTPUT DEL SERVIDOR:\n{{ $node[\"SSH (Get Health)\"].json[\"stdout\"] }}","options":{"systemMessage":"Eres el VPS Guard de AURENIX, un sistema de monitorizacion de servidores.\n\nANALIZA el output de Docker, RAM y Disco del servidor.\n\nCRITERIOS DE ALERTA:\n- Contenedor Docker que NO este en estado 'running' o 'healthy'\n- Uso de disco superior al 85%\n- RAM disponible inferior al 15% del total\n- Cualquier anomalia grave\n\nRESPONDE UNICAMENTE en JSON con esta estructura exacta:\n{\n  \"status\": \"healthy\" | \"warning\" | \"critical\",\n  \"issues\": [\"lista de problemas detectados o array vacio si todo OK\"],\n  \"proposed_fix_command\": \"comando exacto para arreglar o None si no aplica\",\n  \"reason\": \"explicacion breve del estado\",\n  \"metrics\": {\n    \"disk_usage_pct\": 19,\n    \"ram_usage_pct\": 24,\n    \"containers_healthy\": 13,\n    \"containers_total\": 13\n  }\n}\n\nNO incluyas texto fuera del JSON. NO uses bloques markdown. Solo JSON puro."}},"id":"73856c96-a592-4758-8ddc-db4c9b00d576","name":"Cerebro Inspector (Groq)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[448,0],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"model":"llama-3.1-8b-instant","options":{"temperature":0.1}},"id":"1d8958ee-26cb-4d65-8031-b6b27560b525","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[448,208],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"jsCode":"try {\n  let raw = $node[\"Cerebro Inspector (Groq)\"].json.text;\n  if (raw.startsWith('```json')) raw = raw.substring(7, raw.length - 3);\n  else if (raw.startsWith('```')) raw = raw.substring(3, raw.length - 3);\n  const aiData = JSON.parse(raw.trim());\n  return [{ json: aiData }];\n} catch (e) {\n  return [{ json: { status: \"error_parseo\", issues: [\"Error parseando respuesta IA\"], proposed_fix_command: \"None\", reason: e.message, raw: $node[\"Cerebro Inspector (Groq)\"].json.text } }];\n}"},"id":"418bf58c-6614-4a25-b984-aa5e99fb97d4","name":"Parse JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ic1","leftValue":"={{ $json.status }}","rightValue":"critical","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f74f1009-36dc-4d97-af84-0fc971b478c5","name":"If Critical","type":"n8n-nodes-base.if","typeVersion":2,"position":[912,0]},{"parameters":{"chatId":"501092522","text":"=🚨 *VPS GUARD ALERTA CRITICA* 🚨\n\nHe detectado problemas en el servidor VPS:\n*Problemas:* {{ $json.issues.join(', ') }}\n\n*Analisis:* {{ $json.reason }}\n\n*Solucion Propuesta:*\n`{{ $json.proposed_fix_command }}`\n\nEl sistema esta en modo HITL (Human In The Loop).\nResponde exactamente con este mensaje para autorizar la ejecucion:\n\n`/approve {{ $json.proposed_fix_command }}`","additionalFields":{"parse_mode":"Markdown"}},"id":"cebb6724-1644-4cc3-b7b1-0112262b9575","name":"Telegram Alert (HITL Ask)","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1152,-100],"webhookId":"6bf6f6fc-3e4b-44f8-8a5d-02a192c51ddb","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"chatId":"501092522","text":"=✅ *VPS GUARD* - Todo OK\n\n*Disco:* {{ $json.metrics ? $json.metrics.disk_usage_pct + '%' : 'N/A' }}\n*RAM:* {{ $json.metrics ? $json.metrics.ram_usage_pct + '%' : 'N/A' }}\n*Contenedores:* {{ $json.metrics ? $json.metrics.containers_healthy + '/' + $json.metrics.containers_total : 'N/A' }}","additionalFields":{"parse_mode":"Markdown"}},"id":"aa000001-0000-0000-0000-000000000001","name":"Telegram Status OK","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1152,100],"webhookId":"aa000001-0000-0000-0000-aaaaaaaaa001","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"e7dfd3d6-dc88-4d73-963e-aba6d009ab73","name":"Telegram Trigger (HITL Receive)","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,400],"webhookId":"b4f3eddf-6c6e-4244-93ef-eed5e2d5ba30","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ia1","leftValue":"={{ $json.message.text }}","rightValue":"/approve","operator":{"type":"string","operation":"startsWith"}},{"id":"ia2","leftValue":"={{ $json.message.from.id }}","rightValue":501092522,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"84d5ef19-5cc0-4daa-88b9-382a80e93bc1","name":"If Is Approve & Admin","type":"n8n-nodes-base.if","typeVersion":2,"position":[224,400]},{"parameters":{"jsCode":"const text = $node[\"Telegram Trigger (HITL Receive)\"].json.message.text;\nconst cmd = text.replace('/approve', '').trim();\nif (!cmd) {\n  throw new Error('No se especifico ningun comando despues de /approve');\n}\nreturn [{ json: { command_to_execute: cmd } }];"},"id":"bea546b0-e152-4d37-b2a9-f730a414a181","name":"Extract Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,384]},{"parameters":{"jsCode":"const cmd = $json.command_to_execute;\n\n// Prefijos permitidos\nconst allowedPrefixes = [\n  'docker ps', 'docker start', 'docker stop', 'docker restart',\n  'docker logs', 'docker stats', 'docker inspect', 'docker exec',\n  'free', 'df', 'uptime', 'top -bn1', 'ls', 'cat /var/log',\n  'tail ', 'head ', 'systemctl status', 'systemctl restart',\n  'journalctl', 'netstat', 'ss ', 'ip addr', 'ping ',\n  'du -sh', 'find / -name', 'htop'\n];\n\n// Keywords bloqueados (destructivos)\nconst blockedKeywords = [\n  'rm -rf', 'rm -f', 'rmdir', 'dd if=', 'mkfs',\n  'shutdown', 'reboot', 'halt', 'poweroff', 'init 0',\n  'chmod 777', 'chmod -R 777',\n  'DROP ', 'DELETE FROM', 'TRUNCATE ',\n  ':(){', 'fork', '> /dev/sda',\n  'curl | bash', 'wget | bash',\n  'passwd', 'useradd', 'userdel',\n  'iptables -F', 'ufw disable'\n];\n\nconst isAllowed = allowedPrefixes.some(p => cmd.startsWith(p));\nconst hasBlocked = blockedKeywords.some(k => cmd.toLowerCase().includes(k.toLowerCase()));\n\nif (isAllowed && !hasBlocked) {\n  return [{ json: { command_to_execute: cmd, safe: true } }];\n} else {\n  const reason = hasBlocked\n    ? 'Comando contiene keyword destructivo: ' + blockedKeywords.find(k => cmd.toLowerCase().includes(k.toLowerCase()))\n    : 'Comando no esta en la lista de permitidos';\n  return [{ json: { command_to_execute: cmd, safe: false, reason: reason } }];\n}"},"id":"aa000002-0000-0000-0000-000000000002","name":"JS Validator (Security Shield)","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is1","leftValue":"={{ $json.safe }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"aa000003-0000-0000-0000-000000000003","name":"If Safe","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,384]},{"parameters":{"command":"={{ $json.command_to_execute }}","cwd":"/root","authentication":"privateKey"},"id":"a9deb284-62e1-490b-b871-99732e24c8c6","name":"SSH (Execute Fix)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[920,300],"credentials":{"sshPrivateKey":{"id":"zwKkkBrd5NcbMFZ3","name":"SSH Key Root VPS (jose_root_ed25519)"}}},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger (HITL Receive)\"].json.message.chat.id }}","text":"=✅ *VPS GUARD HITL EJECUTADO*\n\n*Comando:* `{{ $node[\"Extract Command\"].json.command_to_execute }}`\n\n*Resultado:*\n```\n{{ $json.stdout }}\n```\n*Error (si hubo):*\n```\n{{ $json.stderr }}\n```","additionalFields":{"parse_mode":"Markdown"}},"id":"e10e7ae3-4477-45ee-99a3-93cf7a22ee7a","name":"Telegram Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1100,300],"webhookId":"26b4bcd0-afdf-4a2d-8763-1d87af1886a8","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger (HITL Receive)\"].json.message.chat.id }}","text":"=🛑 *COMANDO BLOQUEADO*\n\n*Comando:* `{{ $json.command_to_execute }}`\n*Razon:* {{ $json.reason }}\n\nEl JS Validator ha bloqueado este comando por seguridad.","additionalFields":{"parse_mode":"Markdown"}},"id":"aa000004-0000-0000-0000-000000000004","name":"Telegram Blocked Command","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1100,500],"webhookId":"aa000004-0000-0000-0000-aaaaaaaaa004","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}}],"connections":{"Schedule (30 min)":{"main":[[{"node":"SSH (Get Health)","type":"main","index":0}]]},"SSH (Get Health)":{"main":[[{"node":"Cerebro Inspector (Groq)","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Cerebro Inspector (Groq)","type":"ai_languageModel","index":0}]]},"Cerebro Inspector (Groq)":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"If Critical","type":"main","index":0}]]},"If Critical":{"main":[[{"node":"Telegram Alert (HITL Ask)","type":"main","index":0}],[{"node":"Telegram Status OK","type":"main","index":0}]]},"Telegram Trigger (HITL Receive)":{"main":[[{"node":"If Is Approve & Admin","type":"main","index":0}]]},"If Is Approve & Admin":{"main":[[{"node":"Extract Command","type":"main","index":0}]]},"Extract Command":{"main":[[{"node":"JS Validator (Security Shield)","type":"main","index":0}]]},"JS Validator (Security Shield)":{"main":[[{"node":"If Safe","type":"main","index":0}]]},"If Safe":{"main":[[{"node":"SSH (Execute Fix)","type":"main","index":0}],[{"node":"Telegram Blocked Command","type":"main","index":0}]]},"SSH (Execute Fix)":{"main":[[{"node":"Telegram Confirmation","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"piwQBZARypgDZxcz"},"staticData":{"node:Schedule (30 min)":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"22628a7b-6c7d-4f27-a9e2-4f9263879a94","activeVersionId":"22628a7b-6c7d-4f27-a9e2-4f9263879a94","versionCounter":55,"triggerCount":2,"shared":[{"updatedAt":"2026-03-04T12:20:49.317Z","createdAt":"2026-03-04T12:20:49.317Z","role":"workflow:owner","workflowId":"O1EkQWMjHAY8hqzj","projectId":"yOFf5FyB370G6A3i","project":{"updatedAt":"2026-01-29T15:41:47.258Z","createdAt":"2026-01-29T14:54:12.832Z","id":"yOFf5FyB370G6A3i","name":"Aurenix Aurenix <aurenix@aurauniversalresiliencenexo.com>","type":"personal","icon":null,"description":null,"creatorId":"78afeccc-07f3-44d7-9110-d783ad888b66","projectRelations":[{"updatedAt":"2026-01-29T14:54:12.832Z","createdAt":"2026-01-29T14:54:12.832Z","userId":"78afeccc-07f3-44d7-9110-d783ad888b66","projectId":"yOFf5FyB370G6A3i","user":{"updatedAt":"2026-03-07T09:23:23.974Z","createdAt":"2026-01-29T14:54:12.089Z","id":"78afeccc-07f3-44d7-9110-d783ad888b66","email":"aurenix@aurauniversalresiliencenexo.com","firstName":"Aurenix","lastName":"Aurenix","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-29T15:42:23.222Z","personalization_survey_n8n_version":"2.1.5","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"HGpkuatVlEksetZi","userActivatedAt":1771685419949,"npsSurvey":{"responded":true,"lastShownAt":1772712522347}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T09:31:43.455Z","createdAt":"2026-03-07T09:31:43.455Z","versionId":"22628a7b-6c7d-4f27-a9e2-4f9263879a94","workflowId":"O1EkQWMjHAY8hqzj","nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"id":"e1255be2-35b5-44a4-9cc6-f44bfba95e7a","name":"Schedule (30 min)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0]},{"parameters":{"command":"echo '---DOCKER---'; docker ps -a --format '{{.Names}}: {{.State}}'; echo ''; echo '---DISK---'; df -h /; echo ''; echo '---RAM---'; free -m","cwd":"/root","authentication":"privateKey"},"id":"461c4777-6a24-4d41-98be-be6346bbde27","name":"SSH (Get Health)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[224,0],"credentials":{"sshPrivateKey":{"id":"zwKkkBrd5NcbMFZ3","name":"SSH Key Root VPS (jose_root_ed25519)"}}},{"parameters":{"promptType":"define","text":"Analiza el siguiente output del servidor VPS de AURENIX y determina su estado de salud.\n\nOUTPUT DEL SERVIDOR:\n{{ $node[\"SSH (Get Health)\"].json[\"stdout\"] }}","options":{"systemMessage":"Eres el VPS Guard de AURENIX, un sistema de monitorizacion de servidores.\n\nANALIZA el output de Docker, RAM y Disco del servidor.\n\nCRITERIOS DE ALERTA:\n- Contenedor Docker que NO este en estado 'running' o 'healthy'\n- Uso de disco superior al 85%\n- RAM disponible inferior al 15% del total\n- Cualquier anomalia grave\n\nRESPONDE UNICAMENTE en JSON con esta estructura exacta:\n{\n  \"status\": \"healthy\" | \"warning\" | \"critical\",\n  \"issues\": [\"lista de problemas detectados o array vacio si todo OK\"],\n  \"proposed_fix_command\": \"comando exacto para arreglar o None si no aplica\",\n  \"reason\": \"explicacion breve del estado\",\n  \"metrics\": {\n    \"disk_usage_pct\": 19,\n    \"ram_usage_pct\": 24,\n    \"containers_healthy\": 13,\n    \"containers_total\": 13\n  }\n}\n\nNO incluyas texto fuera del JSON. NO uses bloques markdown. Solo JSON puro."}},"id":"73856c96-a592-4758-8ddc-db4c9b00d576","name":"Cerebro Inspector (Groq)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[448,0],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"model":"llama-3.1-8b-instant","options":{"temperature":0.1}},"id":"1d8958ee-26cb-4d65-8031-b6b27560b525","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[448,208],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"jsCode":"try {\n  let raw = $node[\"Cerebro Inspector (Groq)\"].json.text;\n  if (raw.startsWith('```json')) raw = raw.substring(7, raw.length - 3);\n  else if (raw.startsWith('```')) raw = raw.substring(3, raw.length - 3);\n  const aiData = JSON.parse(raw.trim());\n  return [{ json: aiData }];\n} catch (e) {\n  return [{ json: { status: \"error_parseo\", issues: [\"Error parseando respuesta IA\"], proposed_fix_command: \"None\", reason: e.message, raw: $node[\"Cerebro Inspector (Groq)\"].json.text } }];\n}"},"id":"418bf58c-6614-4a25-b984-aa5e99fb97d4","name":"Parse JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[688,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ic1","leftValue":"={{ $json.status }}","rightValue":"critical","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f74f1009-36dc-4d97-af84-0fc971b478c5","name":"If Critical","type":"n8n-nodes-base.if","typeVersion":2,"position":[912,0]},{"parameters":{"chatId":"501092522","text":"=🚨 *VPS GUARD ALERTA CRITICA* 🚨\n\nHe detectado problemas en el servidor VPS:\n*Problemas:* {{ $json.issues.join(', ') }}\n\n*Analisis:* {{ $json.reason }}\n\n*Solucion Propuesta:*\n`{{ $json.proposed_fix_command }}`\n\nEl sistema esta en modo HITL (Human In The Loop).\nResponde exactamente con este mensaje para autorizar la ejecucion:\n\n`/approve {{ $json.proposed_fix_command }}`","additionalFields":{"parse_mode":"Markdown"}},"id":"cebb6724-1644-4cc3-b7b1-0112262b9575","name":"Telegram Alert (HITL Ask)","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1152,-100],"webhookId":"6bf6f6fc-3e4b-44f8-8a5d-02a192c51ddb","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"chatId":"501092522","text":"=✅ *VPS GUARD* - Todo OK\n\n*Disco:* {{ $json.metrics ? $json.metrics.disk_usage_pct + '%' : 'N/A' }}\n*RAM:* {{ $json.metrics ? $json.metrics.ram_usage_pct + '%' : 'N/A' }}\n*Contenedores:* {{ $json.metrics ? $json.metrics.containers_healthy + '/' + $json.metrics.containers_total : 'N/A' }}","additionalFields":{"parse_mode":"Markdown"}},"id":"aa000001-0000-0000-0000-000000000001","name":"Telegram Status OK","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1152,100],"webhookId":"aa000001-0000-0000-0000-aaaaaaaaa001","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"e7dfd3d6-dc88-4d73-963e-aba6d009ab73","name":"Telegram Trigger (HITL Receive)","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[0,400],"webhookId":"b4f3eddf-6c6e-4244-93ef-eed5e2d5ba30","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ia1","leftValue":"={{ $json.message.text }}","rightValue":"/approve","operator":{"type":"string","operation":"startsWith"}},{"id":"ia2","leftValue":"={{ $json.message.from.id }}","rightValue":501092522,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"84d5ef19-5cc0-4daa-88b9-382a80e93bc1","name":"If Is Approve & Admin","type":"n8n-nodes-base.if","typeVersion":2,"position":[224,400]},{"parameters":{"jsCode":"const text = $node[\"Telegram Trigger (HITL Receive)\"].json.message.text;\nconst cmd = text.replace('/approve', '').trim();\nif (!cmd) {\n  throw new Error('No se especifico ningun comando despues de /approve');\n}\nreturn [{ json: { command_to_execute: cmd } }];"},"id":"bea546b0-e152-4d37-b2a9-f730a414a181","name":"Extract Command","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,384]},{"parameters":{"jsCode":"const cmd = $json.command_to_execute;\n\n// Prefijos permitidos\nconst allowedPrefixes = [\n  'docker ps', 'docker start', 'docker stop', 'docker restart',\n  'docker logs', 'docker stats', 'docker inspect', 'docker exec',\n  'free', 'df', 'uptime', 'top -bn1', 'ls', 'cat /var/log',\n  'tail ', 'head ', 'systemctl status', 'systemctl restart',\n  'journalctl', 'netstat', 'ss ', 'ip addr', 'ping ',\n  'du -sh', 'find / -name', 'htop'\n];\n\n// Keywords bloqueados (destructivos)\nconst blockedKeywords = [\n  'rm -rf', 'rm -f', 'rmdir', 'dd if=', 'mkfs',\n  'shutdown', 'reboot', 'halt', 'poweroff', 'init 0',\n  'chmod 777', 'chmod -R 777',\n  'DROP ', 'DELETE FROM', 'TRUNCATE ',\n  ':(){', 'fork', '> /dev/sda',\n  'curl | bash', 'wget | bash',\n  'passwd', 'useradd', 'userdel',\n  'iptables -F', 'ufw disable'\n];\n\nconst isAllowed = allowedPrefixes.some(p => cmd.startsWith(p));\nconst hasBlocked = blockedKeywords.some(k => cmd.toLowerCase().includes(k.toLowerCase()));\n\nif (isAllowed && !hasBlocked) {\n  return [{ json: { command_to_execute: cmd, safe: true } }];\n} else {\n  const reason = hasBlocked\n    ? 'Comando contiene keyword destructivo: ' + blockedKeywords.find(k => cmd.toLowerCase().includes(k.toLowerCase()))\n    : 'Comando no esta en la lista de permitidos';\n  return [{ json: { command_to_execute: cmd, safe: false, reason: reason } }];\n}"},"id":"aa000002-0000-0000-0000-000000000002","name":"JS Validator (Security Shield)","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,384]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"is1","leftValue":"={{ $json.safe }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"aa000003-0000-0000-0000-000000000003","name":"If Safe","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,384]},{"parameters":{"command":"={{ $json.command_to_execute }}","cwd":"/root","authentication":"privateKey"},"id":"a9deb284-62e1-490b-b871-99732e24c8c6","name":"SSH (Execute Fix)","type":"n8n-nodes-base.ssh","typeVersion":1,"position":[920,300],"credentials":{"sshPrivateKey":{"id":"zwKkkBrd5NcbMFZ3","name":"SSH Key Root VPS (jose_root_ed25519)"}}},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger (HITL Receive)\"].json.message.chat.id }}","text":"=✅ *VPS GUARD HITL EJECUTADO*\n\n*Comando:* `{{ $node[\"Extract Command\"].json.command_to_execute }}`\n\n*Resultado:*\n```\n{{ $json.stdout }}\n```\n*Error (si hubo):*\n```\n{{ $json.stderr }}\n```","additionalFields":{"parse_mode":"Markdown"}},"id":"e10e7ae3-4477-45ee-99a3-93cf7a22ee7a","name":"Telegram Confirmation","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1100,300],"webhookId":"26b4bcd0-afdf-4a2d-8763-1d87af1886a8","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"chatId":"={{ $node[\"Telegram Trigger (HITL Receive)\"].json.message.chat.id }}","text":"=🛑 *COMANDO BLOQUEADO*\n\n*Comando:* `{{ $json.command_to_execute }}`\n*Razon:* {{ $json.reason }}\n\nEl JS Validator ha bloqueado este comando por seguridad.","additionalFields":{"parse_mode":"Markdown"}},"id":"aa000004-0000-0000-0000-000000000004","name":"Telegram Blocked Command","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1100,500],"webhookId":"aa000004-0000-0000-0000-aaaaaaaaa004","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}}],"connections":{"Schedule (30 min)":{"main":[[{"node":"SSH (Get Health)","type":"main","index":0}]]},"SSH (Get Health)":{"main":[[{"node":"Cerebro Inspector (Groq)","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Cerebro Inspector (Groq)","type":"ai_languageModel","index":0}]]},"Cerebro Inspector (Groq)":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"If Critical","type":"main","index":0}]]},"If Critical":{"main":[[{"node":"Telegram Alert (HITL Ask)","type":"main","index":0}],[{"node":"Telegram Status OK","type":"main","index":0}]]},"Telegram Trigger (HITL Receive)":{"main":[[{"node":"If Is Approve & Admin","type":"main","index":0}]]},"If Is Approve & Admin":{"main":[[{"node":"Extract Command","type":"main","index":0}]]},"Extract Command":{"main":[[{"node":"JS Validator (Security Shield)","type":"main","index":0}]]},"JS Validator (Security Shield)":{"main":[[{"node":"If Safe","type":"main","index":0}]]},"If Safe":{"main":[[{"node":"SSH (Execute Fix)","type":"main","index":0}],[{"node":"Telegram Blocked Command","type":"main","index":0}]]},"SSH (Execute Fix)":{"main":[[{"node":"Telegram Confirmation","type":"main","index":0}]]}},"authors":"Aurenix Aurenix","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-07T09:31:43.680Z","id":73,"workflowId":"O1EkQWMjHAY8hqzj","versionId":"22628a7b-6c7d-4f27-a9e2-4f9263879a94","event":"activated","userId":"78afeccc-07f3-44d7-9110-d783ad888b66"}]}}