_INFRA/Flujo_S3_System_Factory_v2.json
{"updatedAt":"2026-03-07T09:33:34.930Z","createdAt":"2026-03-04T12:21:57.335Z","id":"UwSxUht3mZRIKqge","name":"S3: System Factory (Auto-Builder)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"693b8fd0-07ca-47f9-a4cf-6e3d00cc64cd","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,32],"webhookId":"c0ffee11-1234-5678-abcd-ef0123456789","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"sc1","leftValue":"={{ $json.message.text }}","rightValue":"/create","operator":{"type":"string","operation":"startsWith"}},{"id":"sc2","leftValue":"={{ $json.message.from.id }}","rightValue":501092522,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"74833a87-74b5-49a8-bcfe-b3815e447350","name":"Security Check (Jose & /create)","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,32]},{"parameters":{"jsCode":"const text = $node[\"Telegram Trigger\"].json.message.text;\nconst prompt = text.replace('/create', '').trim();\nif (!prompt) {\n  throw new Error('Por favor, describe el workflow que quieres crear. Ej: /create Flujo que envie un email diario');\n}\nreturn [{ json: { prompt: prompt } }];"},"id":"4a7d57c4-08e0-45d1-ab78-b213a2aa3031","name":"Extract Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"promptType":"define","text":"Crea un workflow de n8n basado en esta descripcion:\n\n{{ $json.prompt }}","options":{"systemMessage":"Eres S3 System Factory de AURENIX, un arquitecto experto en automatizaciones n8n.\n\nTu objetivo es generar un workflow de n8n valido en formato JSON.\n\nREGLAS CRITICAS:\n1. Responde UNICAMENTE con JSON puro, sin bloques markdown, sin explicaciones.\n2. El JSON debe tener esta estructura exacta:\n{\n  \"name\": \"Nombre del Flujo\",\n  \"nodes\": [ ...array de nodos n8n validos... ],\n  \"connections\": { ...objeto de conexiones... }\n}\n3. Cada nodo debe tener: parameters, id (UUID), name, type, typeVersion, position [x,y].\n4. Usa tipos de nodos reales de n8n (n8n-nodes-base.*).\n5. NUNCA generes nodos con comandos destructivos (rm, dd, shutdown, DROP, DELETE).\n6. Incluye posiciones incrementales para layout visual.\n7. No incluyas credenciales - se asignaran despues.\n\nEJEMPLO de nodo valido:\n{\"parameters\":{\"url\":\"https://api.example.com\"},\"id\":\"uuid-aqui\",\"name\":\"HTTP Request\",\"type\":\"n8n-nodes-base.httpRequest\",\"typeVersion\":4.2,\"position\":[200,0]}\n\nNo uses /think ni razonamiento interno. Solo JSON puro."}},"id":"115360c9-5d97-42f3-a662-8a728e7522f3","name":"Cerebro Factory (Groq)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[240,0],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.1}},"id":"1cd1ad1c-ab09-47ed-81b7-fdd5e248a3ab","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[240,208],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"jsCode":"try {\n  let raw = $node[\"Cerebro Factory (Groq)\"].json.text;\n  // Strip markdown if LLM disobeys\n  if (raw.startsWith('```json')) raw = raw.substring(7, raw.length - 3);\n  else if (raw.startsWith('```')) raw = raw.substring(3, raw.length - 3);\n  // Strip /think blocks if model outputs them\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n  \n  const workflowData = JSON.parse(raw.trim());\n  \n  // Validate required structure\n  if (!workflowData.name || !workflowData.nodes || !workflowData.connections) {\n    throw new Error('JSON incompleto: falta name, nodes o connections');\n  }\n  \n  // Safety: check for dangerous node types\n  const dangerousTypes = ['n8n-nodes-base.ssh', 'n8n-nodes-base.executeCommand'];\n  const hasDangerous = workflowData.nodes.some(n => dangerousTypes.includes(n.type));\n  \n  return [{ json: { ...workflowData, hasDangerousNodes: hasDangerous } }];\n} catch (e) {\n  throw new Error('La IA no devolvio un JSON valido: ' + e.message);\n}"},"id":"bae27ecd-92a4-49e4-85e6-291381ef84a7","name":"Parse & Validate JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://n8n.aurenix.cloud/api/v1/workflows","authentication":"headerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.name, nodes: $json.nodes, connections: $json.connections, settings: { executionOrder: 'v1' } }) }}","options":{}},"id":"fe15b969-56ee-4af4-946a-8e0a3bb03bb4","name":"n8n API Create Flow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0],"credentials":{"httpHeaderAuth":{"id":"QvOqobsyEgZ25FT3","name":"n8n API AURENIX"}}},{"parameters":{"chatId":"501092522","text":"=🏭 *SYSTEM FACTORY*\n\nHe creado tu nuevo flujo de automatizacion:\n\n*Nombre:* `{{ $node[\"n8n API Create Flow\"].json.name }}`\n*ID:* `{{ $node[\"n8n API Create Flow\"].json.id }}`\n{{ $node[\"Parse & Validate JSON\"].json.hasDangerousNodes ? '\\n⚠️ *ATENCION:* Este flujo contiene nodos SSH/Bash. Revisalo antes de activarlo.' : '' }}\n\n_Revisalo en el panel de n8n antes de activarlo._","additionalFields":{"parse_mode":"Markdown"}},"id":"1e43ecc8-284c-4baf-943d-0c4c2b7725eb","name":"Telegram Success","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[960,0],"webhookId":"1f058ec5-4200-48c6-a918-877917b47098","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Security Check (Jose & /create)","type":"main","index":0}]]},"Security Check (Jose & /create)":{"main":[[{"node":"Extract Prompt","type":"main","index":0}],[]]},"Extract Prompt":{"main":[[{"node":"Cerebro Factory (Groq)","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Cerebro Factory (Groq)","type":"ai_languageModel","index":0}]]},"Cerebro Factory (Groq)":{"main":[[{"node":"Parse & Validate JSON","type":"main","index":0}]]},"Parse & Validate JSON":{"main":[[{"node":"n8n API Create Flow","type":"main","index":0}]]},"n8n API Create Flow":{"main":[[{"node":"Telegram Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner","errorWorkflow":"piwQBZARypgDZxcz"},"staticData":null,"meta":null,"pinData":{},"versionId":"be19df97-5775-4a82-914c-cdc2123e388c","activeVersionId":"be19df97-5775-4a82-914c-cdc2123e388c","versionCounter":50,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T12:21:57.335Z","createdAt":"2026-03-04T12:21:57.335Z","role":"workflow:owner","workflowId":"UwSxUht3mZRIKqge","projectId":"yOFf5FyB370G6A3i","project":{"updatedAt":"2026-01-29T15:41:47.258Z","createdAt":"2026-01-29T14:54:12.832Z","id":"yOFf5FyB370G6A3i","name":"Aurenix Aurenix <aurenix@aurauniversalresiliencenexo.com>","type":"personal","icon":null,"description":null,"creatorId":"78afeccc-07f3-44d7-9110-d783ad888b66","projectRelations":[{"updatedAt":"2026-01-29T14:54:12.832Z","createdAt":"2026-01-29T14:54:12.832Z","userId":"78afeccc-07f3-44d7-9110-d783ad888b66","projectId":"yOFf5FyB370G6A3i","user":{"updatedAt":"2026-03-07T09:23:23.974Z","createdAt":"2026-01-29T14:54:12.089Z","id":"78afeccc-07f3-44d7-9110-d783ad888b66","email":"aurenix@aurauniversalresiliencenexo.com","firstName":"Aurenix","lastName":"Aurenix","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-29T15:42:23.222Z","personalization_survey_n8n_version":"2.1.5","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"HGpkuatVlEksetZi","userActivatedAt":1771685419949,"npsSurvey":{"responded":true,"lastShownAt":1772712522347}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T09:31:43.867Z","createdAt":"2026-03-07T09:31:43.867Z","versionId":"be19df97-5775-4a82-914c-cdc2123e388c","workflowId":"UwSxUht3mZRIKqge","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"693b8fd0-07ca-47f9-a4cf-6e3d00cc64cd","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-448,32],"webhookId":"c0ffee11-1234-5678-abcd-ef0123456789","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"sc1","leftValue":"={{ $json.message.text }}","rightValue":"/create","operator":{"type":"string","operation":"startsWith"}},{"id":"sc2","leftValue":"={{ $json.message.from.id }}","rightValue":501092522,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"74833a87-74b5-49a8-bcfe-b3815e447350","name":"Security Check (Jose & /create)","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,32]},{"parameters":{"jsCode":"const text = $node[\"Telegram Trigger\"].json.message.text;\nconst prompt = text.replace('/create', '').trim();\nif (!prompt) {\n  throw new Error('Por favor, describe el workflow que quieres crear. Ej: /create Flujo que envie un email diario');\n}\nreturn [{ json: { prompt: prompt } }];"},"id":"4a7d57c4-08e0-45d1-ab78-b213a2aa3031","name":"Extract Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0]},{"parameters":{"promptType":"define","text":"Crea un workflow de n8n basado en esta descripcion:\n\n{{ $json.prompt }}","options":{"systemMessage":"Eres S3 System Factory de AURENIX, un arquitecto experto en automatizaciones n8n.\n\nTu objetivo es generar un workflow de n8n valido en formato JSON.\n\nREGLAS CRITICAS:\n1. Responde UNICAMENTE con JSON puro, sin bloques markdown, sin explicaciones.\n2. El JSON debe tener esta estructura exacta:\n{\n  \"name\": \"Nombre del Flujo\",\n  \"nodes\": [ ...array de nodos n8n validos... ],\n  \"connections\": { ...objeto de conexiones... }\n}\n3. Cada nodo debe tener: parameters, id (UUID), name, type, typeVersion, position [x,y].\n4. Usa tipos de nodos reales de n8n (n8n-nodes-base.*).\n5. NUNCA generes nodos con comandos destructivos (rm, dd, shutdown, DROP, DELETE).\n6. Incluye posiciones incrementales para layout visual.\n7. No incluyas credenciales - se asignaran despues.\n\nEJEMPLO de nodo valido:\n{\"parameters\":{\"url\":\"https://api.example.com\"},\"id\":\"uuid-aqui\",\"name\":\"HTTP Request\",\"type\":\"n8n-nodes-base.httpRequest\",\"typeVersion\":4.2,\"position\":[200,0]}\n\nNo uses /think ni razonamiento interno. Solo JSON puro."}},"id":"115360c9-5d97-42f3-a662-8a728e7522f3","name":"Cerebro Factory (Groq)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[240,0],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.1}},"id":"1cd1ad1c-ab09-47ed-81b7-fdd5e248a3ab","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[240,208],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"jsCode":"try {\n  let raw = $node[\"Cerebro Factory (Groq)\"].json.text;\n  // Strip markdown if LLM disobeys\n  if (raw.startsWith('```json')) raw = raw.substring(7, raw.length - 3);\n  else if (raw.startsWith('```')) raw = raw.substring(3, raw.length - 3);\n  // Strip /think blocks if model outputs them\n  raw = raw.replace(/<think>[\\s\\S]*?<\\/think>/g, '').trim();\n  \n  const workflowData = JSON.parse(raw.trim());\n  \n  // Validate required structure\n  if (!workflowData.name || !workflowData.nodes || !workflowData.connections) {\n    throw new Error('JSON incompleto: falta name, nodes o connections');\n  }\n  \n  // Safety: check for dangerous node types\n  const dangerousTypes = ['n8n-nodes-base.ssh', 'n8n-nodes-base.executeCommand'];\n  const hasDangerous = workflowData.nodes.some(n => dangerousTypes.includes(n.type));\n  \n  return [{ json: { ...workflowData, hasDangerousNodes: hasDangerous } }];\n} catch (e) {\n  throw new Error('La IA no devolvio un JSON valido: ' + e.message);\n}"},"id":"bae27ecd-92a4-49e4-85e6-291381ef84a7","name":"Parse & Validate JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,0]},{"parameters":{"method":"POST","url":"https://n8n.aurenix.cloud/api/v1/workflows","authentication":"headerAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.name, nodes: $json.nodes, connections: $json.connections, settings: { executionOrder: 'v1' } }) }}","options":{}},"id":"fe15b969-56ee-4af4-946a-8e0a3bb03bb4","name":"n8n API Create Flow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,0],"credentials":{"httpHeaderAuth":{"id":"QvOqobsyEgZ25FT3","name":"n8n API AURENIX"}}},{"parameters":{"chatId":"501092522","text":"=🏭 *SYSTEM FACTORY*\n\nHe creado tu nuevo flujo de automatizacion:\n\n*Nombre:* `{{ $node[\"n8n API Create Flow\"].json.name }}`\n*ID:* `{{ $node[\"n8n API Create Flow\"].json.id }}`\n{{ $node[\"Parse & Validate JSON\"].json.hasDangerousNodes ? '\\n⚠️ *ATENCION:* Este flujo contiene nodos SSH/Bash. Revisalo antes de activarlo.' : '' }}\n\n_Revisalo en el panel de n8n antes de activarlo._","additionalFields":{"parse_mode":"Markdown"}},"id":"1e43ecc8-284c-4baf-943d-0c4c2b7725eb","name":"Telegram Success","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[960,0],"webhookId":"1f058ec5-4200-48c6-a918-877917b47098","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Security Check (Jose & /create)","type":"main","index":0}]]},"Security Check (Jose & /create)":{"main":[[{"node":"Extract Prompt","type":"main","index":0}],[]]},"Extract Prompt":{"main":[[{"node":"Cerebro Factory (Groq)","type":"main","index":0}]]},"Groq Model":{"ai_languageModel":[[{"node":"Cerebro Factory (Groq)","type":"ai_languageModel","index":0}]]},"Cerebro Factory (Groq)":{"main":[[{"node":"Parse & Validate JSON","type":"main","index":0}]]},"Parse & Validate JSON":{"main":[[{"node":"n8n API Create Flow","type":"main","index":0}]]},"n8n API Create Flow":{"main":[[{"node":"Telegram Success","type":"main","index":0}]]}},"authors":"Aurenix Aurenix","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-07T09:31:44.078Z","id":75,"workflowId":"UwSxUht3mZRIKqge","versionId":"be19df97-5775-4a82-914c-cdc2123e388c","event":"deactivated","userId":"78afeccc-07f3-44d7-9110-d783ad888b66"},{"createdAt":"2026-03-07T09:31:44.599Z","id":76,"workflowId":"UwSxUht3mZRIKqge","versionId":"be19df97-5775-4a82-914c-cdc2123e388c","event":"deactivated","userId":"78afeccc-07f3-44d7-9110-d783ad888b66"},{"createdAt":"2026-03-07T09:34:52.220Z","id":77,"workflowId":"UwSxUht3mZRIKqge","versionId":"be19df97-5775-4a82-914c-cdc2123e388c","event":"activated","userId":"78afeccc-07f3-44d7-9110-d783ad888b66"}]}}