_INFRA/Flujo_S2_Workflow_Sentinel.json
{
  "name": "S2: Workflow Sentinel (Global Error Handler)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const exec = $json.execution;\nconst wf = $json.workflow;\n\nreturn [{\n  json: {\n    workflowId: wf.id,\n    workflowName: wf.name,\n    executionUrl: exec.url,\n    errorName: exec.error.name,\n    errorMessage: exec.error.message,\n    errorStack: exec.error.stack,\n    failedNode: exec.lastNodeExecuted,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "2",
      "name": "Parse Error Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analiza este error de n8n:\n\nFlujo: {{$json.workflowName}}\nNodo que falló: {{$json.failedNode}}\nError: {{$json.errorMessage}}",
        "options": {
          "systemMessage": "Eres el Workflow Sentinel QA de AURENIX.\nTu misión es traducir errores técnicos de n8n a lenguaje humano.\n\nSIEMPRE RESPONDE EN ESTE FORMATO:\n*Causa:* [Explicación simple de máximo 2 líneas de por qué falló]\n*Recomendación:* [Paso técnico exacto para arreglarlo]\n*Impacto:* [Bajo/Medio/Alto para el cliente]"
        }
      },
      "id": "3",
      "name": "Cerebro QA (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "llama3-70b-8192",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "4",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "groqApi": {
          "id": "GROQ_API_ID_AQUI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "fileName": "=/data/agencia/backups/sentinel_errors.jsonl",
        "fileContent": "={\"timestamp\":\"{{$node[\"Parse Error Data\"].json[\"timestamp\"]}}\", \"workflow\":\"{{$node[\"Parse Error Data\"].json[\"workflowName\"]}}\",\"error\":\"{{$node[\"Parse Error Data\"].json[\"errorMessage\"]}}\"}\n"
      },
      "id": "5",
      "name": "Write to Agency Drive",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        680,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "501092522",
        "text": "=🛡️ *SENTINEL ALERT* 🛡️\n\nEl flujo de un cliente acaba de fallar.\n\n*Flujo:* `{{$node[\"Parse Error Data\"].json.workflowName}}`\n*Nodo Fallido:* `{{$node[\"Parse Error Data\"].json.failedNode}}`\n*Error Técnico:* _{{$node[\"Parse Error Data\"].json.errorMessage}}_\n\n*🤖 Análisis QA IA:*\n{{$node[\"Cerebro QA (Groq)\"].json.text}}\n\n*Enlace de Ejecución:*\n[Ver detalles]({{$node[\"Parse Error Data\"].json.executionUrl}})",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "6",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        920,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Parse Error Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Error Data": {
      "main": [
        [
          {
            "node": "Cerebro QA (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Cerebro QA (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro QA (Groq)": {
      "main": [
        [
          {
            "node": "Write to Agency Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write to Agency Drive": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
