_INFRA/Flujo_S1_VPS_Guard.json
{
  "name": "S1: VPS Guard (Monitor & HITL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "1",
      "name": "Schedule (30 min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "command": "echo \"---DOCKER---\"; docker ps -a --format \"{{.Names}}: {{.State}}\"; echo \"\\n---DISK---\"; df -h /; echo \"\\n---RAM---\"; free -m",
        "cwd": "/home/aurenix_it_agent"
      },
      "id": "2",
      "name": "SSH (Get Health)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "SSH_KEY_ID_AQUI",
          "name": "aurenix_it_agent SSH"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Analiza el siguiente output del servidor y determina su estado de salud.\n\nOUTPUT:\n{{$node[\"SSH (Get Health)\"].json[\"stdout\"]}}",
        "options": {
          "systemMessage": "Eres el VPS Guard de AURENIX. Analiza el estado del servidor (Docker, RAM, Disco).\n\nCRITERIOS CRÍTICOS:\n- Contenedores Docker con estado distinto a 'running' o 'healthy'.\n- Uso de disco > 85%.\n- RAM disponible crítica.\n\nSIEMPRE RESPONDE EN FORMATO JSON:\n{\n  \"status\": \"healthy\" | \"critical\",\n  \"issues\": [\"lista de problemas detectados, o vacío si está sano\"],\n  \"proposed_fix_command\": \"Comando de terminal exacto para solucionar el problema (ej: docker start <name>, o docker system prune -a). Pon 'None' si está sano.\",\n  \"reason\": \"Por qué recomiendas ese fix.\"\n}"
        }
      },
      "id": "3",
      "name": "Cerebro Inspector (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "llama3-70b-8192",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "4",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "groqApi": {
          "id": "GROQ_API_ID_AQUI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "try {\n  const aiData = JSON.parse($node[\"Cerebro Inspector (Groq)\"].json.text);\n  return [ { json: aiData } ];\n} catch (e) {\n  return [ { json: { status: \"error_parseo\", raw: $node[\"Cerebro Inspector (Groq)\"].json.text } } ];\n}"
      },
      "id": "5",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "6",
      "name": "If Critical",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1.1,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "501092522",
        "text": "=🚨 *VPS GUARD ALERTA CRÍTICA* 🚨\n\nHe detectado problemas en el servidor VPS:\n*Problemas:* {{$json.issues.join(', ')}}\n\n*Análisis:* {{$json.reason}}\n\n*Solución Propuesta:*\n`{{$json.proposed_fix_command}}`\n\nEl sistema está en modo HITL (Human In The Loop).\nResponde exactamente con este mensaje para autorizar la ejecución:\n\n`/approve {{$json.proposed_fix_command}}`",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "7",
      "name": "Telegram Alert (HITL Ask)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1140,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "8",
      "name": "Telegram Trigger (HITL Receive)",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.message.text}}",
              "operation": "startsWith",
              "value2": "/approve"
            }
          ],
          "number": [
            {
              "value1": "={{$json.message.from.id}}",
              "operation": "equal",
              "value2": 501092522
            }
          ]
        },
        "combineOperation": "and"
      },
      "id": "9",
      "name": "If Is Approve & Admin",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1.1,
      "position": [
        220,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $node[\"Telegram Trigger (HITL Receive)\"].json.message.text;\nconst cmd = text.replace('/approve', '').trim();\nreturn [ { json: { command_to_execute: cmd } } ];"
      },
      "id": "10",
      "name": "Extract Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        380
      ]
    },
    {
      "parameters": {
        "command": "={{$json.command_to_execute}}",
        "cwd": "/home/aurenix_it_agent"
      },
      "id": "11",
      "name": "SSH (Execute Fix)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        680,
        380
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "SSH_KEY_ID_AQUI",
          "name": "aurenix_it_agent SSH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger (HITL Receive)\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=✅ *VPS GUARD HITL EJECUTADO*\n\n*Comando:* `{{$node[\"Extract Command\"].json.command_to_execute}}`\n\n*Resultado:*\n```text\n{{$json.stdout}}\n```\n*Error (si hubo):*\n```text\n{{$json.stderr}}\n```",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "12",
      "name": "Telegram Confirmation",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        900,
        380
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    }
  ],
  "connections": {
    "Schedule (30 min)": {
      "main": [
        [
          {
            "node": "SSH (Get Health)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH (Get Health)": {
      "main": [
        [
          {
            "node": "Cerebro Inspector (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Cerebro Inspector (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro Inspector (Groq)": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "If Critical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Critical": {
      "main": [
        [
          {
            "node": "Telegram Alert (HITL Ask)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger (HITL Receive)": {
      "main": [
        [
          {
            "node": "If Is Approve & Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Is Approve & Admin": {
      "main": [
        [
          {
            "node": "Extract Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Command": {
      "main": [
        [
          {
            "node": "SSH (Execute Fix)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH (Execute Fix)": {
      "main": [
        [
          {
            "node": "Telegram Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
