_INFRA/Flujo_S2_Workflow_Sentinel_v2.json
{"updatedAt":"2026-03-07T09:31:43.762Z","createdAt":"2026-03-04T12:21:18.846Z","id":"piwQBZARypgDZxcz","name":"S2: Workflow Sentinel (Global Error Handler)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"46a5291f-d1f7-442f-bd60-1ddfe054aa58","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const exec = $json.execution;\nconst wf = $json.workflow;\n\nreturn [{\n  json: {\n    workflowId: wf.id,\n    workflowName: wf.name,\n    executionUrl: exec.url,\n    errorName: exec.error.name,\n    errorMessage: exec.error.message,\n    errorStack: (exec.error.stack || '').substring(0, 500),\n    failedNode: exec.lastNodeExecuted,\n    timestamp: new Date().toISOString(),\n    dedup_key: wf.id + ':' + exec.error.message\n  }\n}];"},"id":"19ae046e-072e-4f4a-b3c2-405cc11cb877","name":"Parse Error Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"jsCode":"// Dedup: si el mismo error se repitio en los ultimos 30 min, skip\nconst key = $json.dedup_key;\nconst now = Date.now();\nconst THROTTLE_MS = 30 * 60 * 1000; // 30 minutos\n\n// Usar staticData para persistir entre ejecuciones\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastErrors) staticData.lastErrors = {};\n\nconst lastSeen = staticData.lastErrors[key];\nif (lastSeen && (now - lastSeen) < THROTTLE_MS) {\n  // Mismo error dentro del throttle window -> skip\n  return [{ json: { ...($json), skip: true, reason: 'Dedup: mismo error en ultimos 30 min' } }];\n}\n\n// Registrar este error\nstaticData.lastErrors[key] = now;\n\n// Limpiar errores viejos (> 2h)\nfor (const k of Object.keys(staticData.lastErrors)) {\n  if (now - staticData.lastErrors[k] > 2 * 60 * 60 * 1000) {\n    delete staticData.lastErrors[k];\n  }\n}\n\nreturn [{ json: { ...($json), skip: false } }];"},"id":"bb000001-0000-0000-0000-000000000001","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}},"id":"bb000002-0000-0000-0000-000000000002","name":"If Not Duplicate","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,0]},{"parameters":{"model":"qwen/qwen3-32b","options":{"temperature":0.1}},"id":"f74bff95-a0fd-4e7e-8458-c46ea5de2236","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[830,208],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"promptType":"define","text":"Analiza este error de n8n:\n\nFlujo: {{ $json.workflowName }}\nNodo que fallo: {{ $json.failedNode }}\nError: {{ $json.errorMessage }}","options":{"systemMessage":"Eres el Workflow Sentinel QA de AURENIX.\nTu mision es traducir errores tecnicos de n8n a lenguaje humano.\n\nSIEMPRE RESPONDE EN ESTE FORMATO EXACTO:\n*Causa:* [Explicacion simple de maximo 2 lineas de por que fallo]\n*Recomendacion:* [Paso tecnico exacto para arreglarlo]\n*Impacto:* [Bajo/Medio/Alto]\n\nNo uses emojis. No pongas /think ni razonamiento interno. Solo responde con el formato indicado."}},"id":"822bed24-9dc7-4b01-bb14-a31e455707a9","name":"Cerebro QA (Groq)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[830,0]},{"parameters":{"chatId":"501092522","text":"=🛡️ *SENTINEL ALERT*\n\nUn flujo ha fallado:\n\n*Flujo:* `{{ $node[\"Parse Error Data\"].json.workflowName }}`\n*Nodo Fallido:* `{{ $node[\"Parse Error Data\"].json.failedNode }}`\n*Error:* _{{ $node[\"Parse Error Data\"].json.errorMessage }}_\n\n*Analisis IA:*\n{{ $node[\"Cerebro QA (Groq)\"].json.text }}\n\n[Ver ejecucion]({{ $node[\"Parse Error Data\"].json.executionUrl }})","additionalFields":{"parse_mode":"Markdown"}},"id":"33878f6c-c609-400d-955b-6358c55992b7","name":"Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1200,0],"webhookId":"66360cbb-f9b1-4f94-a412-1fd98c343fd5","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Parse Error Data","type":"main","index":0}]]},"Parse Error Data":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"If Not Duplicate","type":"main","index":0}]]},"If Not Duplicate":{"main":[[{"node":"Cerebro QA (Groq)","type":"main","index":0}],[]]},"Groq Model":{"ai_languageModel":[[{"node":"Cerebro QA (Groq)","type":"ai_languageModel","index":0}]]},"Cerebro QA (Groq)":{"main":[[{"node":"Telegram Alert","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"432bec43-33cd-46ae-9c61-5a4ee5226326","activeVersionId":"432bec43-33cd-46ae-9c61-5a4ee5226326","versionCounter":18,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T12:21:18.846Z","createdAt":"2026-03-04T12:21:18.846Z","role":"workflow:owner","workflowId":"piwQBZARypgDZxcz","projectId":"yOFf5FyB370G6A3i","project":{"updatedAt":"2026-01-29T15:41:47.258Z","createdAt":"2026-01-29T14:54:12.832Z","id":"yOFf5FyB370G6A3i","name":"Aurenix Aurenix <aurenix@aurauniversalresiliencenexo.com>","type":"personal","icon":null,"description":null,"creatorId":"78afeccc-07f3-44d7-9110-d783ad888b66","projectRelations":[{"updatedAt":"2026-01-29T14:54:12.832Z","createdAt":"2026-01-29T14:54:12.832Z","userId":"78afeccc-07f3-44d7-9110-d783ad888b66","projectId":"yOFf5FyB370G6A3i","user":{"updatedAt":"2026-03-07T09:23:23.974Z","createdAt":"2026-01-29T14:54:12.089Z","id":"78afeccc-07f3-44d7-9110-d783ad888b66","email":"aurenix@aurauniversalresiliencenexo.com","firstName":"Aurenix","lastName":"Aurenix","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2026-01-29T15:42:23.222Z","personalization_survey_n8n_version":"2.1.5","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"HGpkuatVlEksetZi","userActivatedAt":1771685419949,"npsSurvey":{"responded":true,"lastShownAt":1772712522347}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-03-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T09:31:43.763Z","createdAt":"2026-03-07T09:31:43.763Z","versionId":"432bec43-33cd-46ae-9c61-5a4ee5226326","workflowId":"piwQBZARypgDZxcz","nodes":[{"parameters":{},"id":"46a5291f-d1f7-442f-bd60-1ddfe054aa58","name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const exec = $json.execution;\nconst wf = $json.workflow;\n\nreturn [{\n  json: {\n    workflowId: wf.id,\n    workflowName: wf.name,\n    executionUrl: exec.url,\n    errorName: exec.error.name,\n    errorMessage: exec.error.message,\n    errorStack: (exec.error.stack || '').substring(0, 500),\n    failedNode: exec.lastNodeExecuted,\n    timestamp: new Date().toISOString(),\n    dedup_key: wf.id + ':' + exec.error.message\n  }\n}];"},"id":"19ae046e-072e-4f4a-b3c2-405cc11cb877","name":"Parse Error Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0]},{"parameters":{"jsCode":"// Dedup: si el mismo error se repitio en los ultimos 30 min, skip\nconst key = $json.dedup_key;\nconst now = Date.now();\nconst THROTTLE_MS = 30 * 60 * 1000; // 30 minutos\n\n// Usar staticData para persistir entre ejecuciones\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.lastErrors) staticData.lastErrors = {};\n\nconst lastSeen = staticData.lastErrors[key];\nif (lastSeen && (now - lastSeen) < THROTTLE_MS) {\n  // Mismo error dentro del throttle window -> skip\n  return [{ json: { ...($json), skip: true, reason: 'Dedup: mismo error en ultimos 30 min' } }];\n}\n\n// Registrar este error\nstaticData.lastErrors[key] = now;\n\n// Limpiar errores viejos (> 2h)\nfor (const k of Object.keys(staticData.lastErrors)) {\n  if (now - staticData.lastErrors[k] > 2 * 60 * 60 * 1000) {\n    delete staticData.lastErrors[k];\n  }\n}\n\nreturn [{ json: { ...($json), skip: false } }];"},"id":"bb000001-0000-0000-0000-000000000001","name":"Dedup Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[448,0]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dd1","leftValue":"={{ $json.skip }}","rightValue":true,"operator":{"type":"boolean","operation":"false"}}],"combinator":"and"},"options":{}},"id":"bb000002-0000-0000-0000-000000000002","name":"If Not Duplicate","type":"n8n-nodes-base.if","typeVersion":2,"position":[640,0]},{"parameters":{"model":"qwen/qwen3-32b","options":{"temperature":0.1}},"id":"f74bff95-a0fd-4e7e-8458-c46ea5de2236","name":"Groq Model","type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[830,208],"credentials":{"groqApi":{"id":"3xX3Du0zMIty4shQ","name":"Groq account"}}},{"parameters":{"promptType":"define","text":"Analiza este error de n8n:\n\nFlujo: {{ $json.workflowName }}\nNodo que fallo: {{ $json.failedNode }}\nError: {{ $json.errorMessage }}","options":{"systemMessage":"Eres el Workflow Sentinel QA de AURENIX.\nTu mision es traducir errores tecnicos de n8n a lenguaje humano.\n\nSIEMPRE RESPONDE EN ESTE FORMATO EXACTO:\n*Causa:* [Explicacion simple de maximo 2 lineas de por que fallo]\n*Recomendacion:* [Paso tecnico exacto para arreglarlo]\n*Impacto:* [Bajo/Medio/Alto]\n\nNo uses emojis. No pongas /think ni razonamiento interno. Solo responde con el formato indicado."}},"id":"822bed24-9dc7-4b01-bb14-a31e455707a9","name":"Cerebro QA (Groq)","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[830,0]},{"parameters":{"chatId":"501092522","text":"=🛡️ *SENTINEL ALERT*\n\nUn flujo ha fallado:\n\n*Flujo:* `{{ $node[\"Parse Error Data\"].json.workflowName }}`\n*Nodo Fallido:* `{{ $node[\"Parse Error Data\"].json.failedNode }}`\n*Error:* _{{ $node[\"Parse Error Data\"].json.errorMessage }}_\n\n*Analisis IA:*\n{{ $node[\"Cerebro QA (Groq)\"].json.text }}\n\n[Ver ejecucion]({{ $node[\"Parse Error Data\"].json.executionUrl }})","additionalFields":{"parse_mode":"Markdown"}},"id":"33878f6c-c609-400d-955b-6358c55992b7","name":"Telegram Alert","type":"n8n-nodes-base.telegram","typeVersion":1.1,"position":[1200,0],"webhookId":"66360cbb-f9b1-4f94-a412-1fd98c343fd5","credentials":{"telegramApi":{"id":"j286Y4Q9S28CG36j","name":"IT_Ops"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Parse Error Data","type":"main","index":0}]]},"Parse Error Data":{"main":[[{"node":"Dedup Check","type":"main","index":0}]]},"Dedup Check":{"main":[[{"node":"If Not Duplicate","type":"main","index":0}]]},"If Not Duplicate":{"main":[[{"node":"Cerebro QA (Groq)","type":"main","index":0}],[]]},"Groq Model":{"ai_languageModel":[[{"node":"Cerebro QA (Groq)","type":"ai_languageModel","index":0}]]},"Cerebro QA (Groq)":{"main":[[{"node":"Telegram Alert","type":"main","index":0}]]}},"authors":"Aurenix Aurenix","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-07T09:31:43.803Z","id":74,"workflowId":"piwQBZARypgDZxcz","versionId":"432bec43-33cd-46ae-9c61-5a4ee5226326","event":"activated","userId":"78afeccc-07f3-44d7-9110-d783ad888b66"}]}}