_INFRA/Flujo_S1_Health_Collector.json
{
  "name": "S1-Health-Collector",
  "nodes": [
    {
      "parameters": {},
      "id": "hc-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo '===META==='; date -u '+%Y-%m-%dT%H:%M:%SZ'; hostname; uptime -s; echo '===DOCKER==='; docker ps -a --format '{{.Names}}|{{.State}}|{{.Status}}'; echo '===DISK==='; df -h / /data 2>/dev/null; echo '===RAM==='; free -m; echo '===CPU==='; cat /proc/loadavg; nproc; echo '===SWAP==='; free -m | grep Swap; echo '===NETWORK==='; ss -tlnp | grep -cE ':(22|80|443|8000) '; echo '===PG==='; docker exec $(docker ps -qf name=postgresql) pg_isready -U n8n 2>&1; echo PGEXIT:$?; echo '===QDRANT==='; docker inspect --format '{{.State.Health.Status}}' $(docker ps -qf name=qdrant) 2>/dev/null || echo unknown; echo '===COOLIFY==='; curl -s -o /dev/null -w '%{http_code}' --connect-timeout 5 http://localhost:8000; echo; echo '===FAIL2BAN==='; fail2ban-client status sshd 2>/dev/null | awk '/Currently banned/{print $NF}' || echo 0; echo '===BACKUP==='; LATEST=$(ls -t /data/agencia/backups/db/pg_full_*.sql.gz 2>/dev/null | head -1); test -n \"$LATEST\" && printf '%s %s\\n' $(stat -c%s \"$LATEST\") $(( ($(date +%s) - $(stat -c%Y \"$LATEST\")) / 3600 )) || echo '0 999'; echo '===N8N==='; curl -s --connect-timeout 5 http://10.0.2.3:5678/healthz 2>/dev/null; echo NEXIT:$?; echo '===SSL==='; for d in n8n.aurenix.cloud dashboard.aurenix.cloud aurenix.cloud; do EXPIRY=$(echo | openssl s_client -connect $d:443 -servername $d 2>/dev/null | openssl x509 -noout -enddate 2>/dev/null | cut -d= -f2); echo \"$d|${EXPIRY:-NONE}\"; done; echo '===END==='",
        "cwd": "/"
      },
      "id": "hc-ssh",
      "name": "SSH Health Check",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "zwKkkBrd5NcbMFZ3",
          "name": "aurenix_it_agent SSH"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// S1 VPS Guard Ultimate — Deterministic Health Parser v1.0\n// NO IA. JavaScript puro. Cada metrica parseada deterministicamente.\nconst stdout = $input.first().json.stdout || '';\nconst stderr = $input.first().json.stderr || '';\n\nif (!stdout) {\n  return [{ json: {\n    ssh_ok: false, severity: 'CRITICAL',\n    summary: 'SSH: no output received',\n    timestamp: new Date().toISOString(),\n    issues: [{ component: 'SSH', severity: 'CRITICAL', detail: stderr || 'Empty SSH output', fix: 'Check VPS connectivity' }],\n    metrics: {}\n  }}];\n}\n\nfunction getSection(text, name) {\n  const marker = '===' + name + '===';\n  const start = text.indexOf(marker);\n  if (start === -1) return '';\n  const contentStart = text.indexOf('\\n', start);\n  if (contentStart === -1) return '';\n  const nextMarker = text.indexOf('\\n===', contentStart + 1);\n  return nextMarker === -1 ? text.substring(contentStart + 1).trim() : text.substring(contentStart + 1, nextMarker).trim();\n}\n\nconst issues = [];\nconst metrics = {};\nlet maxSeverity = 'HEALTHY';\n\nfunction addIssue(component, severity, detail, fix) {\n  issues.push({ component, severity, detail, fix: fix || 'None' });\n  if (severity === 'CRITICAL') maxSeverity = 'CRITICAL';\n  else if (severity === 'WARNING' && maxSeverity !== 'CRITICAL') maxSeverity = 'WARNING';\n}\n\n// META\nconst meta = getSection(stdout, 'META');\nconst metaLines = meta.split('\\n');\nmetrics.check_time = metaLines[0] || new Date().toISOString();\nmetrics.hostname = metaLines[1] || 'unknown';\nmetrics.uptime_since = metaLines[2] || 'unknown';\n\n// DOCKER\nconst docker = getSection(stdout, 'DOCKER');\nconst containers = docker.split('\\n').filter(l => l.includes('|'));\nconst criticalNames = ['n8n', 'postgresql', 'qdrant', 'coolify-proxy', 'coolify', 'filebrowser', 'vaultwarden'];\nlet cHealthy = 0;\nconst containerStatus = {};\ncontainers.forEach(line => {\n  const parts = line.split('|');\n  const name = parts[0]; const state = parts[1]; const status = parts[2] || '';\n  containerStatus[name] = { state, status };\n  if (state === 'running') cHealthy++;\n  if (criticalNames.some(c => name.includes(c)) && state !== 'running') {\n    addIssue('DOCKER', 'CRITICAL', name + ' is ' + state, 'docker restart ' + name);\n  }\n});\nmetrics.containers_healthy = cHealthy;\nmetrics.containers_total = containers.length;\nmetrics.containers = containerStatus;\n\n// DISK\nconst disk = getSection(stdout, 'DISK');\ndisk.split('\\n').filter(l => l.startsWith('/')).forEach(line => {\n  const parts = line.split(/\\s+/);\n  const pct = parseInt(parts[4]); const mount = parts[5];\n  const key = mount === '/' ? 'disk_root_percent' : 'disk_data_percent';\n  metrics[key] = pct;\n  if (pct > 90) addIssue('DISK', 'CRITICAL', mount + ' at ' + pct + '%', 'docker system prune -af');\n  else if (pct > 80) addIssue('DISK', 'WARNING', mount + ' at ' + pct + '%', 'du -sh /data/* | sort -rh');\n});\n\n// RAM\nconst ram = getSection(stdout, 'RAM');\nconst memLine = ram.split('\\n').find(l => l.startsWith('Mem:'));\nif (memLine) {\n  const p = memLine.split(/\\s+/);\n  metrics.ram_total_mb = parseInt(p[1]); metrics.ram_used_mb = parseInt(p[2]); metrics.ram_available_mb = parseInt(p[6]);\n  if (metrics.ram_available_mb < 200) addIssue('RAM', 'CRITICAL', metrics.ram_available_mb + 'MB available', 'docker system prune -af');\n  else if (metrics.ram_available_mb < 500) addIssue('RAM', 'WARNING', metrics.ram_available_mb + 'MB available', 'free -m');\n}\n\n// CPU\nconst cpu = getSection(stdout, 'CPU');\nconst cpuLines = cpu.split('\\n');\nif (cpuLines.length >= 2) {\n  const loads = cpuLines[0].split(' ');\n  metrics.cpu_load_1m = parseFloat(loads[0]); metrics.cpu_load_5m = parseFloat(loads[1]); metrics.cpu_load_15m = parseFloat(loads[2]);\n  metrics.cpu_cores = parseInt(cpuLines[1]);\n  if (metrics.cpu_load_1m > metrics.cpu_cores * 1.5) addIssue('CPU', 'CRITICAL', 'Load ' + metrics.cpu_load_1m + ' (cores: ' + metrics.cpu_cores + ')', 'top -b -n 1 | head -20');\n  else if (metrics.cpu_load_1m > metrics.cpu_cores) addIssue('CPU', 'WARNING', 'Load ' + metrics.cpu_load_1m, 'top -b -n 1 | head -20');\n}\n\n// SWAP\nconst swap = getSection(stdout, 'SWAP');\nconst swapMatch = swap.match(/Swap:\\s+(\\d+)\\s+(\\d+)/);\nif (swapMatch) {\n  metrics.swap_total_mb = parseInt(swapMatch[1]); metrics.swap_used_mb = parseInt(swapMatch[2]);\n  metrics.swap_percent = metrics.swap_total_mb > 0 ? Math.round(metrics.swap_used_mb / metrics.swap_total_mb * 100) : 0;\n  if (metrics.swap_percent > 80) addIssue('SWAP', 'WARNING', 'Swap at ' + metrics.swap_percent + '%', 'free -m');\n}\n\n// NETWORK\nmetrics.listening_ports = parseInt(getSection(stdout, 'NETWORK')) || 0;\n\n// PG\nconst pg = getSection(stdout, 'PG');\nmetrics.pg_ready = pg.includes('accepting connections');\nif (!metrics.pg_ready) addIssue('POSTGRES', 'CRITICAL', 'PostgreSQL not accepting connections', 'docker restart $(docker ps -qf name=postgresql)');\n\n// QDRANT\nconst qdrant = getSection(stdout, 'QDRANT');\nmetrics.qdrant_healthy = qdrant.includes('healthy');\nif (!metrics.qdrant_healthy && !qdrant.includes('unknown')) addIssue('QDRANT', 'CRITICAL', 'Qdrant: ' + qdrant, 'docker restart $(docker ps -qf name=qdrant)');\nelse if (qdrant.includes('unknown')) addIssue('QDRANT', 'WARNING', 'Qdrant status unknown', 'docker ps -a | grep qdrant');\n\n// COOLIFY\nconst coolify = getSection(stdout, 'COOLIFY');\nmetrics.coolify_http = parseInt(coolify) || 0;\nif (![200, 302].includes(metrics.coolify_http)) addIssue('COOLIFY', 'WARNING', 'HTTP ' + metrics.coolify_http, 'docker restart coolify');\n\n// FAIL2BAN\nmetrics.fail2ban_banned = parseInt(getSection(stdout, 'FAIL2BAN')) || 0;\nif (metrics.fail2ban_banned > 50) addIssue('FAIL2BAN', 'WARNING', metrics.fail2ban_banned + ' IPs banned', 'fail2ban-client status sshd');\n\n// BACKUP\nconst backup = getSection(stdout, 'BACKUP');\nconst bParts = backup.split(/\\s+/);\nmetrics.backup_size_bytes = parseInt(bParts[0]) || 0;\nmetrics.backup_age_hours = parseInt(bParts[1]) || 999;\nif (metrics.backup_age_hours > 48) addIssue('BACKUP', 'CRITICAL', 'Last backup ' + metrics.backup_age_hours + 'h ago', 'bash /usr/local/bin/aurenix-backup-pro.sh');\nelse if (metrics.backup_age_hours > 26) addIssue('BACKUP', 'WARNING', 'Last backup ' + metrics.backup_age_hours + 'h ago', 'crontab -l');\nif (metrics.backup_size_bytes > 0 && metrics.backup_size_bytes < 1024) addIssue('BACKUP', 'WARNING', 'Backup too small', 'ls -la /data/agencia/backups/db/');\n\n// N8N\nconst n8n = getSection(stdout, 'N8N');\nmetrics.n8n_healthy = n8n.includes('ok');\nif (!metrics.n8n_healthy) addIssue('N8N', 'CRITICAL', 'n8n healthz failed', 'docker restart $(docker ps -qf name=n8n)');\n\n// SSL\nconst ssl = getSection(stdout, 'SSL');\nmetrics.ssl = {};\nssl.split('\\n').filter(l => l.includes('|')).forEach(line => {\n  const [domain, expiry] = line.split('|');\n  const d = domain.trim(); const e = expiry.trim();\n  metrics.ssl[d] = e;\n  if (!e || e === 'NONE') { addIssue('SSL', 'WARNING', d + ': no valid cert', 'certbot certificates'); }\n  else { try {\n    const daysLeft = Math.floor((new Date(e) - new Date()) / 86400000);\n    if (daysLeft < 3) addIssue('SSL', 'CRITICAL', d + ' expires in ' + daysLeft + 'd', 'certbot renew');\n    else if (daysLeft < 7) addIssue('SSL', 'WARNING', d + ' expires in ' + daysLeft + 'd', 'certbot renew');\n  } catch(err) {} }\n});\n\nconst summary = maxSeverity === 'HEALTHY'\n  ? 'All OK: ' + cHealthy + '/' + containers.length + ' containers, RAM ' + (metrics.ram_available_mb || '?') + 'MB, Disk ' + (metrics.disk_root_percent || '?') + '%'\n  : issues.map(i => '[' + i.component + '] ' + i.detail).join('; ');\n\nreturn [{ json: { ssh_ok: true, severity: maxSeverity, summary, timestamp: metrics.check_time, issues, metrics } }];"
      },
      "id": "hc-parser",
      "name": "Deterministic Parser",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ssh_ok: false, severity: 'CRITICAL', summary: 'SSH connection failed', timestamp: new Date().toISOString(), issues: [{ component: 'SSH', severity: 'CRITICAL', detail: ($input.first().json.stderr || $input.first().json.message || 'Unknown SSH error').substring(0, 500), fix: 'Check VPS status in Coolify or ssh vps-aurenix' }], metrics: {} } }];"
      },
      "id": "hc-ssh-failed",
      "name": "SSH Failed Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        420
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "SSH Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Health Check": {
      "main": [
        [
          {
            "node": "Deterministic Parser",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SSH Failed Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}