_INFRA/Flujo_Agente_IT_n8n_v4.json
{
  "name": "Agente IT AURENIX V4 (Seguridad Blindada)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.message.from.id}}",
              "operation": "equal",
              "value2": 501092522,
              "name": "Jose"
            }
          ]
        },
        "combineOperation": "any"
      },
      "id": "2",
      "name": "Zero Trust Filter (Jose Only)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.message.text}}",
        "options": {
          "systemMessage": "Eres el Agente IT de AURENIX. Tu mision es gestionar el VPS de forma segura.\n\nREGLAS CRITICAS:\n1. Solo puedes ejecutar comandos de monitorizacion, gestion de docker y mantenimiento basico.\n2. SIEMPRE debes responder en formato JSON: {\"command\": \"tu_comando\", \"explanation\": \"breve_explicacion\"}.\n3. No intentes ejecutar comandos destructivos como rm -rf, mkfs, etc.\n\nCOMANDOS RECOMENDADOS:\n- docker ps, docker stats, docker logs [container]\n- free -m, uptime, df -h, top -b -n 1\n- ls -la, tail -n 50 [archivo]\n- python scripts/audit/audit_server.py"
        }
      },
      "id": "3",
      "name": "Cerebro AI (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "llama3-70b-8192",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "6",
      "name": "Llama 3 (Groq)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "credentials": {
        "groqApi": {
          "id": "GROQ_API_ID_AQUI",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// WHITELIST DE COMANDOS SEGUROS\nconst allowedPrefixes = [\n  'docker ps', 'docker stats', 'docker logs', \n  'free', 'uptime', 'df', 'top', \n  'ls', 'tail', 'cat',\n  'python scripts/audit/', 'python scripts/backup/'\n];\n\nconst blockedKeywords = [\n  'rm ', 'dd ', 'mkfs', '>', 'shutdown', 'reboot', 'passwd', 'chmod 777'\n];\n\ntry {\n  const aiResponse = JSON.parse($node[\"Cerebro AI\"].json.text);\n  const cmd = aiResponse.command.trim();\n  \n  let isAllowed = allowedPrefixes.some(p => cmd.startsWith(p));\n  let hasForbidden = blockedKeywords.some(k => cmd.includes(k));\n\n  if (isAllowed && !hasForbidden) {\n    return { command: cmd, safe: true, explanation: aiResponse.explanation };\n  } else {\n    return { error: \"Comando bloqueado por el Escudo de Seguridad\", command: cmd, safe: false };\n  }\n} catch (e) {\n  return { error: \"Error al parsear JSON de la IA\", raw: $node[\"Cerebro AI\"].json.text };\n}"
      },
      "id": "7",
      "name": "Escudo de Seguridad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ]
    },
    {
      "parameters": {
        "command": "={{$json.command}}",
        "cwd": "/home/aurenix_it_agent"
      },
      "id": "4",
      "name": "SSH Agent (Ejecutor)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        920,
        0
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "SSH_KEY_ID_AQUI",
          "name": "aurenix_it_agent SSH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=🤖 *Agente IT AURENIX*\n\n*Resultado:* \n```\n{{$json.stdout}}\n```\n\n*Nota:* {{$node[\"Escudo de Seguridad\"].json.explanation}}\n\nError (si hay): {{$json.stderr}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "5",
      "name": "Telegram Respuesta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1160,
        0
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
        "text": "=⚠️ *ALERTA DE SEGURIDAD*\n\nEl Agente IT ha bloqueado un comando potencialmente peligroso o no autorizado.\n\n*Comando bloqueado:* `{{$json.command}}`\n*Motivo:* {{$json.error}}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "8",
      "name": "Telegram Alerta",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1160,
        180
      ],
      "credentials": {
        "telegramApi": {
          "id": "TEL_API_ID_AQUI",
          "name": "Telegram bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Zero Trust Filter (Jose Only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zero Trust Filter (Jose Only)": {
      "main": [
        [
          {
            "node": "Cerebro AI (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro AI (Groq)": {
      "main": [
        [
          {
            "node": "Escudo de Seguridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escudo de Seguridad": {
      "main": [
        [
          {
            "node": "SSH Agent (Ejecutor)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram Alerta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SSH Agent (Ejecutor)": {
      "main": [
        [
          {
            "node": "Telegram Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Llama 3 (Groq)": {
      "ai_languageModel": [
        [
          {
            "node": "Cerebro AI (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  }
}
